$cream: #F3EDE7;
$cream_white: #FAF8F6;
$grey: #49566D;
$dark_blue: #172339;
$violet: #A060FF;
$pink: #CB30E3;
$orange: #FFA84E;

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap');